<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="user: ${users}">
        <td>
            <p th:text="'Пользователь: ' + ${user.getUsername()}"></p>
        </td>
        <td>
            <span>Роли: </span>
            <span th:each="role: ${user.getAuthorities()}" th:text="${role.getAuthority()} + ' '"></span>
        </td>
        <td th:if="${!user.hasRole(opRole)}">
            <a th:href="'admin/makeOp/' + ${user.getId()}">Назначить оператором</a>
        </td>
    </tr>
</table>
<a href="/">На главную</a>
</body>
</html>
