<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Operator</title>
</head>
<body>
<p>Список заявок:</p>
<table>
    <tr th:each="proposal: ${proposals}">
        <td>
            <p th:text="${proposal.getContent()}"></p>
        </td>
        <td>
            <a th:href="'proposals/accept/' + ${proposal.getId()}">Одобрить</a>
        </td>
        <td>
            <a th:href="'proposals/decline/' + ${proposal.getId()}">Отклонить</a>
        </td>
    </tr>
</table>
<a href="/">На главную</a>
</body>
</html>
